<mat-card class="header">
  <mat-card-header>
    <mat-card-title>Machine Learning Demo Using TensorFlowJS</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      Analyse sample data. Add more data and Train model. Play with Predictions.
    </div>
    <div class="header-div-right">
      Develop By:
      <a href="http://www.linkedin.com/in/darpanlalani" target="_blank"
        >Darpan Lalani
      </a>
    </div>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<div class="container">
  <mat-card class="chartContainer">
    <mat-card-header>
      <mat-card-title>Machine Learning Prediction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="modelTrained; else loading">
        <div class="height-100">
          <mat-form-field class="full-width">
            <mat-label>Select Match</mat-label>
            <mat-select [(value)]="selectedTeam" (valueChange)="result = ''">
              <mat-option *ngFor="let team of predictTeam" [value]="team.value">
                {{ team.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            class="button-right"
            (click)="prediction()"
          >
            Go
          </button>
        </div>
        <div class="result">
          <h3>Winner: {{ result }}</h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-template #loading>
    <mat-spinner style="margin-left:30%"></mat-spinner>
    <div class="result"><h5>Model Training in Progress...</h5></div>
  </ng-template>

  <mat-card class="chartContainer">
    <mat-card-header>
      <mat-card-title>Add More Sample</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Select Match </mat-label>
        <mat-select [(value)]="selectedSample">
          <mat-option *ngFor="let team of sampleData" [value]="team.value">
            {{ team.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Select Result</mat-label>
        <mat-select [(value)]="selectedResult">
          <mat-option
            *ngFor="let result of selectedSample.possibleOutput"
            [value]="result"
          >
            Team {{ result }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="button-right"
        (click)="addSample()"
      >
        Add Sample
      </button>
      <button
        mat-raised-button
        color="accent"
        class="button-right"
        (click)="trainModel()"
      >
        Train Model
      </button>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card class="chartContainer">
    <mat-card-header>
      <mat-card-title>Sample Data: Team A vs Team B</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas
        baseChart
        [data]="pieChartData1"
        [labels]="pieChartLabels1"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
        [colors]="pieChartColors1"
      >
      </canvas>
    </mat-card-content>
  </mat-card>
  <mat-card class="chartContainer">
    <mat-card-header>
      <mat-card-title>Sample Data: Team B vs Team C</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas
        baseChart
        [data]="pieChartData2"
        [labels]="pieChartLabels2"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
        [colors]="pieChartColors2"
      >
      </canvas>
    </mat-card-content>
  </mat-card>
  <mat-card class="chartContainer">
    <mat-card-header>
      <mat-card-title>Sample Data: Team A vs Team C</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas
        baseChart
        [data]="pieChartData3"
        [labels]="pieChartLabels3"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
        [colors]="pieChartColors3"
      >
      </canvas>
    </mat-card-content>
  </mat-card>
</div>
